<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gearify APMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block head_css %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo">⚙️🛠️ GEARIFY</div>
        
        <div class="menu">
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('team') }}">Our Team</a>
            <a href="{{ url_for('project') }}">Project Details</a>

            {% if session.get('user') %}
                <a href="{{ url_for('dashboard') }}" class="highlight-link">Dashboard</a>
                <a href="{{ url_for('maintenance') }}" class="highlight-link">New Service</a>
                <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="highlight-link">Login</a>
                <a href="{{ url_for('register') }}" class="highlight-link">Register</a>
            {% endif %}
        </div>
    </nav>

    <div class="main-content">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-msg">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>
    <footer class="site-footer">
    <p>© Gearify2025. All rights reserved.</p>
    <p class="dev-credit">Developed by <span>MAHNOOR MURTAZA</span> & <span>AMAAN MOHSIN</span></p>
</footer>

</body>
</html>