{% extends "base.html" %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Welcome</h2>
    <form method="POST">
        
        <div class="role-toggle">
            <input type="radio" id="user" name="role" value="user" checked>
            <label for="user">Worker</label>

            <input type="radio" id="admin" name="role" value="admin">
            <label for="admin">Manager</label>
        </div>

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>
        
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>
        
        <button type="submit">Login</button>
    </form>

    <div class="login-footer">
        New here? <a href="{{ url_for('register') }}" class="register-link">Create an account</a>
    </div>
</div>
{% endblock %}