{% extends "base.html" %}

{% block head_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}

{% block content %}
<div class="register-container">
    <h2>Join Gearify</h2>
    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" placeholder="Choose a username" required>
        
        <label>Password</label>
        <input type="password" name="password" placeholder="Create a password" required>
        
        <label>Account Type</label>
        <select name="role" id="roleSelect" onchange="toggleSecret()">
            <option value="user"> Worker (User)</option>
            <option value="admin">Manager (Admin)</option>
        </select>
        
        <div id="secretBox" style="display: none; margin-top: 10px;">
            <label style="color: #d9534f; font-weight: bold;">Admin Secret Key (Required)</label>
            <input type="password" name="secret_key" placeholder="Enter Company Code">
        </div>
        
        <button type="submit" style="margin-top: 20px;">Create Account</button>
    </form>
</div>

<script>
    function toggleSecret() {
        var role = document.getElementById("roleSelect").value;
        var box = document.getElementById("secretBox");
        if (role === "admin") {
            box.style.display = "block";
        } else {
            box.style.display = "none";
        }
    }
</script>
{% endblock %}